@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// preloader
#pre-loader {
  position: fixed;
  left: -50px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #252830;
  z-index: 99999;

  .loader {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .loader .square {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 3px;
    animation: motion 2s infinite;
  }

  .loader .path {
    height: 10px;
    width: 80px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .loader .path>div {
    background: #fff;
    width: 10px;
    height: 10px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    animation: dynamic 4s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  }

  .loader .path>div:nth-child(1) {
    left: 0px;
  }

  .loader .path>div:nth-child(2) {
    left: 40px;
  }

  .loader .path>div:nth-child(3) {
    left: 80px;
  }

  .loader .path>div:nth-child(4) {
    left: 120px;
  }

  .loader .path>div:nth-child(5) {
    left: 160px;
  }

  .loader .path>div:nth-child(6) {
    left: 200px;
  }

  @keyframes motion {
    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dynamic {
    0% {
      transform: translateX(0px);
    }

    25% {
      transform: translateX(-40px);
    }

    50% {
      transform: translateX(-80px);
    }

    75% {
      transform: translateX(-120px);
    }

    100% {
      transform: translateX(-160px);
    }
  }
}

// pre styel

$primary-font: 'Nunito',
sans-serif;
$second-font: 'Montserrat',
sans-serif;
$primary-color: #252830;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
  border: none;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.slick-slide:focus {
  outline: none !important;
  border: none !important;

  img {
    outline: none !important;
    border: none !important;
  }
}

.title-styel {
  position: relative;
  margin: 0px auto;
  overflow: hidden;

  span {
    display: inline-block;
    position: absolute;
    background: linear-gradient(198deg, rgb(37, 40, 48) 0%, rgb(236, 26, 47) 100%);
    height: 3px;
    left: 50%;
  }

  span.top {
    width: 70px;
    top: 20px;
  }

  span.bottom {
    width: 120px;
    top: 35px;
  }

  span.left {
    transform: translateX(-240px);
  }

  span.bottom.left {
    transform: translateX(-290px);
  }

  span.right {
    transform: translateX(178px);
  }
}

/*--------------------------------------------------------------
# Customized Styles
--------------------------------------------------------------*/
p {
  font-size: 18px;
  /*    text-align: justify;
        text-justify: inter-word;*/
}

#services p {
  text-align: justify;
  text-justify: inter-word;
}

#social-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#custom-about-us-text {
  font-size: 18px;
}

#custom-clients img {

  width: 90px;
  height: 100px;
}

#team-info {
  margin-top: 15px;
  margin-bottom: 35px;
}

#team-info h4 {
  font-size: 21px;
}

#team-info span {
  font-size: 16px;
  font-style: italic;
}

/*--------------------------------------------------------------
# Custom Responsiveness
--------------------------------------------------------------*/
@media (min-width: 1024px) {
  #header #logo {
    padding-left: 40px;
    padding-top: 10px;
  }

  #header #logo img {
    max-height: 70px;
  }
}

@media (max-width: 768px) {
  #header #logo {
    padding-left: 10px;
    padding-top: 5px;
  }

  #header #logo img {
    max-height: 50px;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #18d26e;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 68px;
}

#header {
  padding: 20px 0;
  height: 78px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  background: #252830;

  ul li .active {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    height: 70px;
    transition: all 0.5s;
  }
}

@media (max-width: 768px) {
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 80px;
    transition: all 0.5s;
  }
}


#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo img {
  padding: 0;
  margin: -10px;
}




@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

#header.header-scrolled {
  background: $primary-color;
  padding: 12px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*shocase area start*/
#showcase {
  position: relative;
  background: url(../img/Graphic-Designer.jpg) no-repeat;
  height: 820px;
  width: 100%;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    background: -webkit-linear-gradient(top, #370038bd 0%, rgba(135, 27, 171, 0.28) 100%);
    background: -o-linear-gradient(top, #370038bd 0%, rgba(135, 27, 171, 0.28) 100%);
    background: linear-gradient(0deg, rgba(33, 38, 51, 0.69) 39%, rgba(7, 15, 37, 0.878) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .title {
    padding-top: 15em;

    h2 {
      text-align: center;
      color: #fff;
      font-family: $primary-font;
      font-size: 80px;
      font-weight: bold;

      span {
        color: #ec1a2f;
      }
    }

    h3 {
      font-size: 32px;
      text-align: center;
      color: #e6e9ef;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 5px;
    }
  }
}

/*shocase area end*/

/*scroll animation area start*/
#scrool_down {
  margin: -110px auto;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 48%;

  .layer1 .logo-left,
  .logo-right {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-bottom: 7px solid #ffffff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

  }

  .logo-left {
    margin: 0 !important;
    padding: 0 !important;
    border-right: 7px solid #b8bcc7;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrool 1s linear infinite;
    animation: scrool 1s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

  }

  .logo-right {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 7px solid #ec1a2f;
    border-bottom: 7px solid #a01321;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: scrool1 1s linear infinite;
    animation: scrool1 1s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  .layer1:hover .logo-left {
    -webkit-transform: rotate(135deg) translate(70px, -55px);
    -ms-transform: rotate(135deg) translate(70px, -55px);
    transform: rotate(135deg) translate(70px, -55px);
    border-bottom: none;
    -webkit-transition: border-bottom 1s, -webkit-transform 0.5s;
    transition: border-bottom 1s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, border-bottom 1s;
    transition: transform 0.5s, border-bottom 1s;
    transition: transform 0.5s, border-bottom 1s, -webkit-transform 0.5s;
    -webkit-animation: scroolh;
    animation: scroolh;
  }

  .layer1:hover .logo-right {
    -webkit-transform: rotate(-135deg) translate(-20px, -35px);
    -ms-transform: rotate(-135deg) translate(-20px, -35px);
    transform: rotate(-135deg) translate(-20px, -35px);
    border-bottom: none;
    -webkit-transition: border-bottom 1s, -webkit-transform 0.5s;
    transition: border-bottom 1s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, border-bottom 1s;
    transition: transform 0.5s, border-bottom 1s;
    transition: transform 0.5s, border-bottom 1s, -webkit-transform 0.5s;
    margin-top: 50px;
    -webkit-animation: scroolh;
    animation: scroolh;
  }

}

/*scroll animation area end*/


/*WHO area start*/
#who {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  background-color: #181e2d;

  .up {
    background: url(../img/shape_back_1.png) no-repeat;
    width: 100%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    -o-transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    -webkit-animation: down 0.4s linear;
    animation: down 0.4s linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0.4;
  }

  .down {
    background: url(../img/shape_back_2.png) no-repeat;
    width: 30%;
    height: 78%;
    position: absolute;
    top: 13%;
    right: 0%;
    -webkit-transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    -o-transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    transition: all 0.6s cubic-bezier(.22, .61, .36, 1);
    -webkit-animation: up 0.4s linear;
    animation: up 0.4s linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0.4;
  }

  .title_text {
    padding: 80px 216px;

    .title {
      h2 {
        color: #fff;
        font-family: $primary-font;
        font-size: 45px;
        font-weight: 600;
      }
    }

    .text {
      position: relative;

      p {
        color: #fff;
        font-family: $second-font;
        text-align: justify;
      }
    }
  }
}

/*WHO area end*/

/*popular-services strat*/
#popular-services {
  padding: 30px 0;
  background: #181e2d1c;
  margin: 60px 0;

  .title {
    padding-top: 50px;
    position: relative;

    .title-styel span.right {
      transform: translateX(245px);
    }

    .title-styel span.left {
      -webkit-transform: translateX(-310px);
      transform: translateX(-310px);
    }

    .title-styel span.bottom.left {
      -webkit-transform: translateX(-360px);
      transform: translateX(-360px);
    }

    h2 {
      color: #464646;
      font-family: $primary-font;
      font-size: 45px;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 25px;
    }
  }

  .single-service {
    padding-top: 15px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        text-align: center;
        font-size: 18px;
        padding-top: 15px;
        font-weight: 500;
        text-transform: capitalize;
        ;
      }

      img {
        width: 50%;
        border: 4px solid #ec1a2f;
        border-radius: 20px;
        transition: all 0.3s ease;
      }
    }

    &:hover img {
      padding: 6px;
      border-radius: 25px;
      border: 4px solid #252830;
    }
  }
}

/*popular-services end*/

/*creative service start*/
#service {
  padding-top: 70px;
  position: relative;
  overflow: hidden;
  .row{
    justify-content: center;
    align-items: center;
  }

  .title {
    padding-top: 20px;
    position: relative;

    .title-styel span.right {
      transform: translateX(245px);
    }

    .title-styel span.left {
      -webkit-transform: translateX(-310px);
      transform: translateX(-310px);
    }

    .title-styel span.bottom.left {
      -webkit-transform: translateX(-360px);
      transform: translateX(-360px);
    }

    h2 {
      color: #464646;
      font-family: $primary-font;
      font-size: 45px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .image_area {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(.54, .085, .5, .92);
    animation-timing-function: cubic-bezier(.54, .085, .5, .92);
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }

  .text_area {
    padding: 120px 0;

    h2 {
      color: #464646;
      font-family: $primary-font;
      font-size: 45px;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;

      span {
        color: #ec1a2f;
      }
    }

    p {
      font-family: $second-font;
      padding-top: 0;
      font-size: 17px;
      font-weight: 500;
      color: #252830;
      text-align: justify;
    }
  }

  .mobile_app {
    .text_area {
      padding: 140px 0;

      h2 {
        color: #ec1a2f;

        span {
          color: #464646;
        }

        &::after {
          background: #ec1a2f;
        }
      }

      p {
        color: #252830;
      }
    }

    .image_area {
      -webkit-animation-name: floating_app;
      animation-name: floating_app;
    }
  }

  .SMS_marketing {
    .text_area {
      padding: 140px 0;

      h2 {
        color: #ec1a2f;

        span {
          color: #464646;
        }

        &::after {
          background: #ec1a2f;
        }
      }

      p {
        color: #252830;
      }
    }

    .image_area {
      -webkit-animation-name: floating_SMS;
      animation-name: floating_SMS;
    }
  }

  .email_marketig {
    .text_area {
      padding: 120px 0;

      h2 {
        color: #ec1a2f;

        span {
          color: #464646;
        }

        &::after {
          background: #ec1a2f;
        }
      }

      p {
        color: #252830;
      }
    }

    .image_area {
      -webkit-animation-name: floating_email;
      animation-name: floating_email;
    }
  }

  .social_media {
    padding-top: 30px;

    .text_area {
      padding: 120px 0;

      h2 {
        color: #252830;

        .color {
          color: #252830;
        }

        span {
          color: #ec1a2f;
        }
      }

      p {
        color: #252830;
        text-align: justify;
      }
    }

    .image_area {
      -webkit-animation-name: floating_social;
      animation-name: floating_social;
    }
  }

  .video_marketing {
    padding-top: 30px;

    .text_area {
      padding: 120px 0;

      h2 {
        color: #252830;

        span {
          color: #ec1a2f;
        }
      }

      p {
        color: #252830;
        text-align: justify;
      }
    }

    .image_area {
      -webkit-animation-name: floating_video;
      animation-name: floating_video;
    }
  }

  .seo {
    padding-top: 30px;

    .text_area {
      padding: 120px 0;

      h2 {
        color: #252830;

        span {
          color: #ec1a2f;
        }
      }

      p {
        color: #252830;
        text-align: justify;
      }
    }

    .image_area {
      -webkit-animation-name: floating_seo;
      animation-name: floating_seo;
    }
  }

  .web {
    padding-top: 30px;

    .text_area {
      padding: 120px 0;

      h2 {
        color: #252830;

        span {
          color: #ec1a2f;
        }

      }

      p {
        color: #252830;
        text-align: justify;
      }
    }

    .image_area {
      padding-top: 100px;
      -webkit-animation-name: floating_web;
      animation-name: floating_web;
    }
  }
}

/*creative service end*/


/*Working process start*/
#Working_Process {
  background: url(../img/process_bg.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
  padding: 100px 0;

  .title-styel span.right {
    transform: translateX(245px);
  }

  .title-styel span.left {
    -webkit-transform: translateX(-310px);
    transform: translateX(-310px);
  }

  .title-styel span.bottom.left {
    -webkit-transform: translateX(-360px);
    transform: translateX(-360px);
  }

  h2 {
    color: #fff;
    font-family: $primary-font;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .w_process {
    text-align: center;
    cursor: pointer;

    .icon {
      width: 124px;
      height: 124px;
      line-height: 124px;
      border: 1px solid #ec1a2f;
      border-radius: 50%;
      background-color: #252830ad;
      width: 124px;
      height: 124px;
      margin: 40px auto;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      margin-bottom: 40px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        right: -70%;
        width: 70%;
        height: 1px;
        background-color: #ec1a2f;
        opacity: .5;
      }

      &::after {
        content: '';
        position: absolute;
        left: calc(160% + 3px);
        width: 10px;
        height: 10px;
        border-top: solid 1px #ec1a2f;
        border-right: solid 1px #ec1a2f;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
      }
    }

    .last {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    h4 {
      font-family: $second-font;
      font-size: 23px;
      font-weight: 500;
      color: #ffffffa3;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    &:hover .icon {
      background-color: #252830;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    }

    &:hover h4 {
      color: #fff;
    }
  }
}

/*Working process end*/

/*our work area start*/
#our_work {
  padding-top: 100px;

  .title-styel span.right {
    transform: translateX(150px);
  }

  .title-styel span.left {
    -webkit-transform: translateX(-215px);
    transform: translateX(-215px);
  }

  .title-styel span.bottom.left {
    -webkit-transform: translateX(-265px);
    transform: translateX(-265px);
  }

  h2 {
    color: #464646;
    font-family: $primary-font;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .filter-button {
    ul {
      text-align: center;
      padding: 20px 0px 0;
      margin: 0;

      li {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #5a5d8b;
        padding: 8px 30px;
        border-radius: 8px;
        font-family: $second-font;
        color: #5a5d8b;
        font-weight: 500;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
      }

      .active {
        background: -webkit-linear-gradient(130deg, rgb(95, 49, 57) 0%, rgb(236, 26, 47) 100%);
        background: -o-linear-gradient(130deg, rgb(95, 49, 57) 0%, rgb(236, 26, 47) 100%);
        background: linear-gradient(130deg, rgb(95, 49, 57) 0%, rgb(236, 26, 47) 100%);
        color: #fff;
        border-color: #fff
      }
    }
  }

  .work_image {
    .item {
      position: relative;
      border-radius: 8px;
      -webkit-box-shadow: 0px 16px 9px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 16px 9px -15px rgba(0, 0, 0, 0.3);
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s;
      overflow: hidden;

      img {
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
      }

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: -webkit-linear-gradient(198deg, rgba(95, 49, 57, 0.47) 0%, rgba(236, 26, 47, 0.493435) 100%);
        background: -o-linear-gradient(198deg, rgba(95, 49, 57, 0.47) 0%, rgba(236, 26, 47, 0.493435) 100%);
        background: linear-gradient(198deg, rgba(95, 49, 57, 0.47) 0%, rgba(236, 26, 47, 0.493435) 100%);
        top: 100%;
        left: 0;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;

        i {
          top: 44.5%;
          color: #fff;
          font-size: 40px;
          left: 44.5%;
          position: absolute;
        }
      }

      &:hover {
        border-radius: 0;
        -webkit-box-shadow: 0px 15px 15px -9px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 15px 15px -9px rgba(0, 0, 0, 0.37)
      }

      &:hover .overlay {
        top: 0;
      }

      &:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    .padding-top {
      padding-top: 25px;
    }
  }
}

/*our work area end*/

/******client **************/
#client {
  padding: 80px 0;

  h2 {
    color: #464646;
    font-family: $primary-font;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }

  .client_list {
    img {
      padding: 20px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}


/******client **************/

/******Team area******/
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#team {
  background: url(../img/testimonials.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 82px 0;

  .title-styel span.right {
    transform: translateX(140px);
  }

  .title-styel span.left {
    -webkit-transform: translateX(-205px);
    transform: translateX(-205px);
  }

  .title-styel span.bottom.left {
    -webkit-transform: translateX(-255px);
    transform: translateX(-255px);
  }

  h2 {
    margin-bottom: 35px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }


  .carousel-inner {
    width: 75%;
    margin: 0 auto;
  }

  .carousel-indicators {
    top: 100%;
  }

  .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .carousel-indicators .active {
    background-color: #ec1a2f;
  }

  .content h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 5px;
    font-family: $primary-font;
  }

  .content img {
    width: 65%;
    border-radius: 5px;
  }

  .content p {
    color: #ec1a2f;
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: $primary-font;
  }
}

/******Team area******/


/*footer_area start*/
#footer-section {
  padding-top: 48px;

  .title-styel span.right {
    transform: translateX(205px);
  }

  .title-styel span.left {
    -webkit-transform: translateX(-275px);
    transform: translateX(-275px);
  }

  .title-styel span.bottom.left {
    -webkit-transform: translateX(-325px);
    transform: translateX(-325px);
  }

  #contact .contact-form {
    margin-top: 74px;
    margin-bottom: 5%;
    -webkit-box-shadow: 0 0 13px #00000014;
    box-shadow: 0 0 13px #00000014;
  }

  #contact input:focus {
    outline: none !important;
  }

  .error {
    color: #ec1a2f;
  }

  #contact .contact-image {
    text-align: center;
    background: #ec1a2f;
    width: 70px;
    margin: 0 auto;
    height: 70px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -36px;
    border: 2px solid #252830;
  }

  #contact .form-control {
    height: 45px;
  }

  #contact .contact-image img {
    width: 65%;
  }

  #contact .contact-form form {
    padding: 0px 120px 35px;
  }

  #contact .form-control:focus {
    border-color: #ec1a2f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #contact .contact-form h3 {
    color: #464646;
    font-family: "Nunito",
      sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  #contact .contact-form .btnContact {
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    background: #ec1a2f;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #contact .contact-form .btnContact:hover {
    background: #252830;
  }

  /*footer area*/
  #footer {
    .footer_area {
      background: #fbfbfd;
    }

    input.form-control:focus {
      border-color: #ec1a2f;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .title {
      font-weight: 500;
      font-size: 25px;
      padding-bottom: 15px;
    }

    .footer_top {
      padding: 30px 0px 270px;
      position: relative;
      overflow-x: hidden;
    }

    .footer_top .company_widget p {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #6a7695;
      margin-bottom: 20px;
    }

    .footer_top .company_widget .subscribe .btn_get {
      border-width: 1px;
      margin-top: 20px;
    }

    .btn_get_two:hover {
      background: transparent;
      color: #5e2ced;
    }

    .btn_get:hover {
      color: #fff;
      background: #6754e2;
      border-color: #6754e2;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    a:hover,
    a:focus,
    .btn:hover,
    .btn:focus,
    button:hover,
    button:focus {
      text-decoration: none;
      outline: none;
    }

    .footer_top .f_widget.about-widget .f_list li a:hover {
      color: #ec1a2f;
    }

    .footer_top .f_widget.about-widget .f_list li {
      margin-bottom: 11px;
    }

    .f_widget.about-widget .f_list li:last-child {
      margin-bottom: 0px;
    }

    .f_widget.about-widget .f_list li {
      margin-bottom: 15px;
    }

    .f_widget.about-widget .f_list {
      margin-bottom: 0px;
    }

    .social_icon {
      a {
        font-size: 30px;
        padding-right: 10px;
        transition: all 0.3s ease;

        &:hover :first-child {
          color: #3b5999;
        }

        &:hover :last-child {
          color: #0077B5;
        }
      }
    }

    .ti-facebook:before {
      content: "\e741";
    }

    .ti-twitter-alt:before {
      content: "\e74b";
    }

    .ti-vimeo-alt:before {
      content: "\e74a";
    }

    .ti-pinterest:before {
      content: "\e731";
    }

    .custom-button .btn {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #ec1a2f;
      color: #fff;
      border: 1px solid transparent;
    }

    .custom-button .btn:hover {
      background: transparent;
      border-color: #ec1a2f;
      color: #ec1a2f;
    }

    .footer_top .f_social_icon a+a {
      margin-left: 4px;
    }

    .footer_top .f-title {
      margin-bottom: 30px;
      color: #263b5e;
    }

    .footer_top .f_widget.about-widget .f_list li a {
      color: #6a7695;
    }

    .footer_top .footer_bg {
      position: absolute;
      bottom: 0;
      background: url("../img/footer_bg.png") no-repeat scroll center 0;
      width: 100%;
      height: 266px;
    }

    .footer_top .footer_bg .footer_bg_one {
      background: url("../img/volks.gif") no-repeat center center;
      width: 330px;
      height: 105px;
      background-size: 100%;
      position: absolute;
      bottom: 0;
      left: 30%;
      -webkit-animation: myfirst 22s linear infinite;
      animation: myfirst 22s linear infinite;
    }

    .footer_top .footer_bg .footer_bg_two {
      background: url("../img/cyclist.gif") no-repeat center center;
      width: 88px;
      height: 100px;
      background-size: 100%;
      bottom: 0;
      left: 38%;
      position: absolute;
      -webkit-animation: myfirst 30s linear infinite;
      animation: myfirst 30s linear infinite;
    }

    @-webkit-keyframes myfirst {
      0% {
        left: -25%;
      }

      100% {
        left: 100%;
      }
    }

    @keyframes myfirst {
      0% {
        left: -25%;
      }

      100% {
        left: 100%;
      }
    }
  }

}

/*footer_area end*/

.modal {
  overflow-y: auto;
  text-align: center;
}

.modal-content {
  padding: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 4px;
  border: 0;
}

.modal-title {
  margin: 0;
}

.modal-title .icon {
  font-size: 48px;
  line-height: 48px;
  display: block;
  margin: 0 0 40px 0;
  color: #00c0ff;
}

.modal-title i {
  display: block;
  font-size: 60px;
  padding: 30px 0;
}

.modal-title .fa-exclamation-triangle {
  color: #e44646;
}

.modal-title .fa-check-circle {
  color: #1bc740;
}


.modal-open {
  overflow: auto;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 100;
  text-shadow: none;
}

.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}




/*scroll animation keyframes*/
@-webkit-keyframes scrool {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 5px;
  }

  100% {
    margin-left: 10px;
  }

}

@keyframes scrool {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 5px;
  }

  100% {
    margin-left: 10px;
  }

}

@-webkit-keyframes scrool1 {
  0% {
    margin-left: -0px;
  }

  50% {
    margin-left: -5px;
  }

  100% {
    margin-left: -10px;
  }

}

@keyframes scrool1 {
  0% {
    margin-left: -0px;
  }

  50% {
    margin-left: -5px;
  }

  100% {
    margin-left: -10px;
  }

}

@-webkit-keyframes scroolh {
  0% {
    margin-right: 0px;
  }

  50% {
    margin-right: 0px;
  }

  100% {
    margin-right: 0px;
  }

}

@keyframes scroolh {
  0% {
    margin-right: 0px;
  }

  50% {
    margin-right: 0px;
  }

  100% {
    margin-right: 0px;
  }

}

/*scroll animation keyframes*/

@-webkit-keyframes down {
  0% {
    margin-top: -227px;
  }

  100% {
    margin-top: 0px;
  }

}

@keyframes down {
  0% {
    margin-top: -227px;
  }

  100% {
    margin-top: 0px;
  }

}

@-webkit-keyframes up {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 0px;
  }

}

@keyframes up {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 0px;
  }

}


/*service pic animation*/
@-webkit-keyframes floating {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@keyframes floating {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@-webkit-keyframes floating_email {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes floating_email {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes floating_social {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@keyframes floating_social {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}


@-webkit-keyframes floating_SMS {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes floating_SMS {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes floating_app {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@keyframes floating_app {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@keyframes floating_video {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes floating_seo {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@keyframes floating_seo {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

@-webkit-keyframes floating_web {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes floating_web {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}


/*service pic animation*/
/*=======================Responsiv============================*/
/*showcase header*/
@media only screen and (max-width: 485px) {
  #showcase {
    height: 550px;

    .title {
      padding-top: 8em;

      h2 {
        font-size: 40px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 486px) and (max-width: 767px) {
  #showcase {
    height: 550px;

    .title {
      padding-top: 5em;

      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #showcase {
    height: 550px;

    .title {
      padding-top: 5em;

      h2 {
        font-size: 60px;
      }

      h3 {
        font-size: 28px;
      }
    }
  }

  #team .carousel-inner {
    width: 85%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #showcase {
    .title {
      h2 {
        font-size: 74px;
      }
    }
  }

  #team .carousel-inner {
    width: 85%;
  }
}

/*showcase header*/

/*who area*/

@media only screen and(max-width: 438px) {
  #who {
    .up {
      width: 60%;
      height: 70%;
      top: 33%;
      left: 20%;
    }

    .down {
      display: none;
    }

    .title_text {
      padding: 40px 5px;
    }
  }
}


@media only screen and(max-width: 575px) {
  #who {
    .up {
      width: 60%;
      height: 70%;
      top: 33%;
      left: 20%;
    }

    .down {
      display: none;
    }

    .title_text {
      padding: 40px 5px;
    }
  }

  #footer-section #contact .contact-form form {
    padding: 0px !important;
  }
}



@media only screen and (min-width: 576px) and (max-width: 991px) {
  #who {
    .up {
      left: 0%;
    }

    .down {
      right: 0%;
    }

    .title_text {
      padding: 75px 10px;
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  #who {
    .up {
      left: 0%;
    }

    .down {
      right: 0%;
    }

    .title_text {
      padding: 80px 140px;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  #who {
    .up {
      left: 11%;
    }

    .down {
      right: -4.5%;
    }
  }
}

/*who area end*/

/*service area*/
@media only screen and (max-width: 768px) {
  #service {
    .text_area {
      padding: 0;

      h2 {
        text-align: center;
        font-size: 30px;

        &::after {
          width: 20%;
          left: 40%;
        }
      }

      p {
        padding-top: 10px;
        text-align: justify;
      }
    }

    .email_marketig {
      .text_area {
        padding: 70px 0 0 0;
      }
    }

    .social_media {
      .image_area {
        padding-top: 35px;
      }

      .text_area {
        padding: 70px 0 0 0;
      }
    }

    .video_marketing {
      .text_area {
        padding: 70px 0 0 0;
      }
    }
  }

  #contact .contact-form form {
    padding: 0px 20px 35px !important;
  }

  #team .carousel-inner {
    width: 100%;
  }

  #team {
    .content {
      div {
        justify-content: center !important;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #service {
    .text_area {
      padding: 35px 0;

      p {
        padding-top: 10px;
      }
    }

    .email_marketig {
      .text_area {
        padding: 0;

        p {
          padding: 35px 0;
        }
      }
    }

    .social_media {
      .text_area {
        padding: 0;

        p {
          padding: 35px 0;
        }
      }
    }

    .video_marketing {
      .text_area {
        padding: 0;

        p {
          padding: 35px 0;
        }
      }
    }
  }
}

/*service area*/


/*worki process area star*/
@media only screen and (min-width: 1200px) {
  #Working_Process {
    .row {
      padding: 0 120px;
    }
  }
}

@media only screen and (max-width: 992px) {
  #Working_Process {
    .w_process {
      .icon {
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

/*worki process area end*/


/*our work */
@media only screen and (max-width: 767px) {
  #our_work {
    .filter-button {
      ul {
        li {
          display: block;
          width: 50%;
          margin: 8px auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #our_work {
    .filter-button {
      ul {
        li {
          padding: 8px 8px;
        }
      }
    }
  }
}

/*our work */

/*footer area*/
@media only screen and (max-width: 768px) {
  _area {
    p {
      text-align: center !important;
    }

    .social-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }
  }
}

/*footer area*/